

/* HEADER */

.header{
    padding:1rem;
    padding-bottom: 2rem;
    background-color: #333;
    color:#eee;
    border-bottom: 1px solid #cccccc15;
}

.logo-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-right: 1rem;
}

.logo-container h1{
    font-size: 3rem;
}

.menu-container{
    display: flex;
    align-items: center;
    gap:3rem;
}

.menu-container .fas{
    font-size: 2rem;
    position: relative;
    z-index: 1;
}

.menu-container .fas::after{
    content:"";
    display: block;
    width: 180%;
    padding-bottom: 180%;
    border-radius: 50%;
    background-color: #444;
    position: absolute;
    z-index: -1;
    top:50%;
    right:50%;
    transform:translate(50%, -50%)
}

.icons-container{
    display: flex;
    justify-content: space-around;
}

.icons-container .fas{
    font-size: 2rem;
    position:relative;
}

.icons-container .fa-home{
    color:	#4278e4
}

.icons-container .fa-user-friends::after{
    content:"7";
    font-size:1.2rem;
    display: block;
    width:80%;
    text-align: center;
    padding-bottom:20%;
    padding-top: 20%;
    background-color: red;
    color:white;
    border-radius: 50%;
    position:absolute;
    right:-50%;
    top:-50%;
    z-index: 2;
    transform:translate(-10%,-10%);
}

.icons-container .fa-plus-circle::after{
    content:"34";
    font-size:1.2rem;
    display: block;
    width:120%;
    text-align: center;
    padding-bottom:30%;
    padding-top: 20%;
    background-color: red;
    color:white;
    border-radius: 50%;
    position:absolute;
    right:-50%;
    top:-50%;
    z-index: 2;
    transform:translate(20%,-10%);
}

.icons-container .fa-bell::after{
    content:"7";
    font-size:1.2rem;
    display: block;
    width:120%;
    text-align: center;
    padding-bottom:20%;
    padding-top:20%;
    background-color: red;
    color:white;
    border-radius: 50%;
    position:absolute;
    right:-50%;
    top:-50%;
    z-index: 2;
    transform:translateX(10%)
}

/* STATUS */

.status{
    background-color: #333;
    padding: 2rem;
    border-bottom: 1px solid #cccccc15;
}

.status-container{
    display: flex;
    gap:1.5rem;
    align-items: center;
}

.status-container img{
    width:8rem;
    height: 6rem;
    border-radius: 50%;
    border:1px solid white;
}

.status-container input{
    width: 100%;
    border-radius: 30px;
    align-self: stretch;
    border:none;
    padding-left: 2rem;
    background-color: #444;
}

.status-container input::placeholder{
    color:#ccc;
}

.status-container .fas{
    font-size: 3rem;
    color:white;
}

.status-container .fas::after{
    display: block;
    content:"Photo";
    width: 50%;
    height: 50%;
    font-size: 1.5rem;
}

/* FEELINGS */

.feelings-section{
    padding:1.5rem 3rem;
    background-color: #333;
    border-bottom: 1px solid #cccccc23;
}

.feelings-container{
    display: flex;
    justify-content: space-between;
    color:#eee;
}

.feelings-container i {
    font-size: 2rem;
}

.feelings-container .fa-smile-beam{
    color:#cccc11;
}

.feelings-container .fa-youtube{
    color:#d33d3d
}

.feelings-container .fa-map-marker-alt{
    color: #ff526f
}

.feelings, .live-video{
    border-right: 1px solid #cccccc23;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    width:30%;
}

.locations{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    width:30%;
}

.black-div{
    height: 0.5rem;
    background-color: black;
}

/* STORY */

.story-section{
    padding: 1rem 0 1rem 1rem;
    background-color: #333;
   
}

.story-container{
    display: flex;
    align-items: center;
    gap:1rem;
}

.story{
    position: relative;
    width: 30%;
    height: 50vh;
    padding-bottom: 50%;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.171);
}

.story:not(.story:first-of-type){
    background: linear-gradient(to bottom, #ff00dd, #ff3123);
}

.story:not(.story:first-of-type, .story:last-of-type)::after{
    content:"4";
    display: block;
    width: 1.5rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    background-color: #528cff;
    color:#fff;
    position:absolute;
    top:1rem;
    text-align: center;
    right:1rem;
    border-radius: 5px;
}

.story:last-of-type{
    width: 5%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.story:first-of-type{
    position: relative;
    overflow: hidden;
    border:1px solid rgba(204, 204, 204, 0.048);
    background-color: #444;
}

.story:first-of-type .add-to-story{
    position: absolute;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    bottom: 11%;
    left:50%;
    z-index: 999;
    transform:translateX(-50%);
}

.story:first-of-type .add-to-story .fas{
    padding:0.4rem;
    border-radius: 50%;
    font-size: 2rem;
    background-color: #4884fc;
    border: 1px solid #fff;
    color:#fff;
    width: auto;
    align-self: center;
}

.story:first-of-type .add-to-story p{
    align-self: center;
    text-align: center;
    color:#fff;
    font-size: 1.7rem;
}

.story:first-of-type img{
    width: 100%;
}

.story>p{
    position: absolute;
    bottom:1rem;
    left:1rem;
    color:#fff;
    font-size: 1.4rem;
}


/* POST */

.post {
    border-top: 1px solid rgba(238, 238, 238, 0.192);
    padding-top: 2rem;
    background-color: #333;
    padding-bottom: 2rem;
}

.photo-container{
    padding: 0 1rem ;
    display:grid;
    gap:1rem;
    grid-template-columns: 6rem 1fr 1fr;
    
}

.photo-container img{
    display: block;
    height: 6rem;
    width: 100%;
    border-radius: 50%;
    border:1px solid white;
}

.photo-container .name{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.photo-container .name h4{
    font-size: 1.6rem;
    color:#eee;
}

.photo-container .name .time{
    display: flex;
    gap:0.5rem;
}

.photo-container .name .time span{
    font-size: 1.2rem;
    color:#858585
}

.photo-container .fas{
    margin-left: auto;
}

.photo-container>i{
    padding-top: 1rem;
    font-size: 2rem;
    color:#eee;
}

/* SHARED POST */

.shared-post{
    background-color: #333;
    padding:1rem;
}

.shared-post .photo-container{
   
    padding:1rem;
}

.shared-post .container{
    border:2px solid rgba(238, 238, 238, 0.13);
    padding:1rem 0.5rem;
}

.dummyPicture{
    width: 6rem;
    height: 6rem;
    background-color: #444;
    border-radius: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.content p{
    padding-left: 1rem;
    font-size: 1.6rem;
    color:#eee;
}

.content img{
    width: 100%;
    height: 50rem;
}

/* FEEDBACK */

.feedback{
    background-color: #333;
    padding-bottom: 1rem;
}

.feedback-buttons{
    display: flex;
    justify-content: space-between;
}

.feedback-buttons button{
    display: flex;
    width: 32%;
    padding:1rem 2rem;
    justify-content: center;
    align-items: center;
    background-color: #444;
    border:none;
    border-radius: 20px;
}

.feedback-buttons button i{
    font-size: 2rem;
    color:#eee;
}